.cards-layout{
  height: auto;
  width: auto;
  background-color: bisque;
  border: 1px solid black;
  margin-left: 3%;
  padding: 5px;
  
}

.cards{
  display: flex;
}
.My Line
{
  color: aqua;
}
.NoData{
  color: red;
}